
*{
  margin:0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {

    color:#000;
    height: 100vh;
    justify-content: center;
    margin: auto;
    display: flex;

  }
.conteiner{
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
  #input {
    width: 550px;
    height: 200px;
    padding: 15px;
    font-size: 16px;
    border-radius: 20px;
    background-color: rgb(225, 238, 250);
    border: none;
  }
  #result {
    padding: 20px;
  }
#submit{
  font-weight: 800;
  font-size: 20px;
  padding: 5px 20px;
  width: 200px;
  border-radius: 20px;
  background-color: #0066ff;
  color: #fff;
  border: none;
  margin-top: 15px;

}